In [2]:
# Collection data types Tuples, List, Set, Dictionary

# What is Tuples - Collection of records stored in single variable with notation ()

t = (1,2,3,4)

type(t) # if any variables defined with notation () it is treated as Tuples

tuple

In [9]:
t = (1,'selva', '10.5', 10+3j) # Tuples
l = [1,'selva', '10.5', 10+3j] # Lists

print(type(t), type(l))

<class 'tuple'> <class 'list'>

In [10]:
# Properties of Tuples
t2 = ()
type(t2)

tuple

In [14]:
l = [1,2, 'selva']
l[1:3]

[2, 'selva']

In [29]:
t = (1,2,'selva')
t[::-1]
t[-1]
t[0::2] # jump of 2

(1, 'selva')

In [32]:
# Differences between list and tuples
# 1. Item re-assignment not possible in tuples (IMMutables) [String is also Immutable]. Tuples not supported 
#    append, insert, modifications.
# 2. Item Notation list with [], Tuples with ()
#

l1 = [4,1,2,3]
l[0] = 'KUMYR'
l

['KUMYR', 2, 'selva']

In [35]:
t = (0,1,2,3,4,5)
# t[0] = 'selva' # TypeError: 'tuple' object does not support item assignment

s = "selvaraj"
s[0] = 'a' #  TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

t1 = (1,2,3,1,1)
t2 = (2, 3)
t1*2

In [52]:
t1 = (1,2,3,1,1)

print(t1.count(2)) # no occurances of element in t1 tuples

1

In [58]:
t1 = (1,2,(1,2))
type(t1[2])

tuple

In [76]:
t1 = (1,2,3,[1,2,],)
t1[3][0]=4
t1

(1, 2, 3, [4, 2])

In [65]:
t1 = (1+1, 2)
t1

(2, 2)

In [69]:
l = [1,2,3, ('t')]
l[3]

't'

In [73]:
list(tuple(l))

[1, 2, 3, 't']